xml validation/user_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name"/>
                <xs:element name="email"/>
                <xs:element name="address"/>
                <xs:element name="mobile"/>
                <xs:element name="age"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
